@import "./partials/variables";
@import "./partials/reset";

/* FLEXBOX */

.cabecera {
    grid-area: cabecera;
    font-family: "terminator real nfi";
    height: 200px;
    background-image: url('../Media/Image/Bosque-familia.jpg');
    background-position: 0;
    background-size: cover;
h1 {
    color: black;
    font-size: $fontSizeBig;
    padding-left: 30px;
    padding-top: 80px;
    margin-bottom: 0px;
}
h4 {
    color: rgb(5, 3, 3);
    font-size: $fontSizeSmall;
    padding-left: 30px;
}
}
.navbar {
    grid-area: navbar;
    background-image: linear-gradient(to right, #dfd0b1, #627e7e);
    position: sticky;
    top: 0;
    z-index: 99;
    padding-right: 40px;
li {
    padding: 0 10px;  
    font-family: Arial, Helvetica, sans-serif;
}
a {
    height: 100%;
    color: black;
    text-decoration: none;
    padding: 1px;  
    font-size: 1.1em; 
}
a:hover {
    background-color: rgba(224, 244, 228, 0.757);
    border-radius: 5px;
}
.dropdown-toggle {
    color: white;
}
}
.dropdown-menu {
    background-image: linear-gradient(to right, #dfd0b1, #627e7e);
}
h2 {
    padding: 20px;
    font-size: 2em;
    text-align: center;
    font-family: monospace;
}
h3 {
    padding: 20px;
    font-size: 1.4em;
    text-align: center;
}
p {
    padding: 10px 20px 10px 20px;
    text-align: justify;
}


/* ESTILOS INICIO */

.contenedor-iconos {
    width: 100%;
    background-color: none;
    padding: 5px;
    display: flex;
    justify-content: center;
div {
    width: 250px;
    height: 280px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: all 300ms;
}
}
.content-icon:hover {
    box-shadow: 0px 10px 40px -5px black;
    background-color: rgba(255, 255, 255, 0.279);
}
.content-icon i {
    font-size: 160px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 40px -15px black;
}
.boton {
    margin-top: 30px;
    background: none;
    width: 70%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 102, 0);
    font-weight: bold;
    font-size: 1.3em;
    
}

/* ESTILOS NOSOTROS */

.videonosotros {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.videonosotros video {
    width: 70%;
}

/* ESTILOS CONTACTOS */

.seccion1 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 40px 0px 40px;
}
.seccion1 input, textarea {
    width: 100%;
    margin: 3px;
    padding: 5px;
    font-size: .9rem;
    border: 1px solid;
    border-radius: 3px;   
    border-color: white;
}
.seccion1 textarea {
    resize: vertical;
    height: 200px;
}
.mapa {
    padding: 20px;
    display: flex;
    width: 100%;
}

/* ESTILO SERVICIOS */

.informacion {
    display: flex;
    padding: 20px;
}

/* ESTILO CLIENTES */

.formulario-3 {
    padding: 30px
}

/* ESTILO REGISTRARME */

.formulario-2 {
    padding: 30px
}


@import "partials/queries";