/* VARIABLES */ /* RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: terminator real nfi;
  src: url(../Fonts/terminator\ real\ nfi.ttf);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: whitesmoke;
  /* background: rgb(251,251,251);
  background: linear-gradient(309deg, rgba(251,251,251,1) 22%, rgba(182,214,197,1) 59%, rgba(168,212,188,1) 59%, rgba(219,244,230,1) 83%, rgba(255,255,255,1) 100%); */
  background-size: cover;
}

.linea {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
}

.footer-container {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  text-decoration: none;
  color: white;
  justify-content: center;
  height: 80px;
  font-size: smaller;
  padding-top: 10px;
}

/* FLEXBOX */
.cabecera {
  font-family: "terminator real nfi";
  height: 230px;
  background-image: url("../Media/Image/depositphotos_25379303-stock-illustration-generations-of-families.jpeg");
  /* background-image: url('../Media/Image/Bosque-familia.jpg'); */
  background-position: 0;
  background-size: cover;
}
.cabecera h1 {
  color: black;
  font-size: 50px;
  padding-left: 30px;
  padding-top: 80px;
  margin-bottom: 0px;
}
.cabecera h4 {
  color: rgb(5, 3, 3);
  font-size: 20px;
  padding-left: 30px;
}
.cabecera .logo {
  display: flex;
  padding: 20px;
  width: 250px;
  height: 250px;
}

.navbar {
  background-color: whitesmoke;
  /* background-image: linear-gradient(to right, #dfd0b1, #627e7e); */
  position: sticky;
  top: 0;
  z-index: 99;
  padding-right: 40px;
  padding-left: 20px;
}
.navbar li {
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a {
  height: 100%;
  color: black;
  text-decoration: none;
  padding: 1px;
  font-size: 1.1em;
}
.navbar a:hover {
  background-color: white;
  border-radius: 5px;
}
.navbar .dropdown-toggle {
  color: red;
}
.navbar .navbar-brand {
  font-family: "terminator real nfi";
  color: black;
  padding-top: 5px;
  font-size: medium;
}

.dropdown-menu {
  background-color: whitesmoke;
  /* background-image: linear-gradient(to right, #dfd0b1, #627e7e); */
}

h2 {
  padding: 20px;
  font-size: 2em;
  text-align: center;
  font-family: monospace;
}

h3 {
  padding: 20px;
  font-size: 1.4em;
  text-align: center;
}

p {
  padding: 10px 20px 10px 20px;
  text-align: justify;
}

/* ESTILOS INICIO */
.contenedor-iconos {
  width: 100%;
  background-color: none;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.contenedor-iconos div {
  width: 250px;
  height: 280px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: all 300ms;
}

.content-icon:hover {
  box-shadow: 0px 10px 40px -5px black;
  background-color: rgba(255, 255, 255, 0.279);
}

.content-icon i {
  font-size: 160px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 40px -15px black;
}

.boton {
  margin-top: 30px;
  background: none;
  width: 70%;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 102, 0);
  font-weight: bold;
  font-size: 1.3em;
}

/* ESTILOS NOSOTROS */
.videonosotros {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.videonosotros video {
  width: 70%;
}

/* ESTILOS CONTACTOS */
.seccion1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 40px 0px 40px;
}

.seccion1 input, textarea {
  width: 100%;
  margin: 3px;
  padding: 5px;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 3px;
  border-color: white;
}

.seccion1 textarea {
  resize: vertical;
  height: 200px;
}

.mapa {
  padding: 20px;
  display: flex;
  width: 100%;
}

/* ESTILO SERVICIOS */
.informacion {
  display: flex;
  padding: 20px;
}

/* ESTILO CLIENTES */
.formulario-3 {
  padding: 30px;
}

/* ESTILO REGISTRARME */
.formulario-2 {
  padding: 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .contenedor-iconos {
    flex-direction: column;
    align-items: center;
  }
  .informacion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 600px) {
  .contenedor-iconos {
    display: flex;
    flex-wrap: wrap;
  }
  .informacion {
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */