@import "./partials/variables";
@import "./partials/reset";

/* FLEXBOX */

.cabecera {
    grid-area: cabecera;
    font-family: "terminator real nfi";
    height: 200px;
    background-image: url('../Media/Image/Bosque-familia.jpg');
    background-position: 0;
    background-size: cover;
h1 {
    color: black;
    font-size: $fontSizeBig;
    padding-left: 30px;
    padding-top: 80px;
    margin-bottom: 0px;
}
h4 {
    color: rgb(5, 3, 3);
    font-size: $fontSizeSmall;
    padding-left: 30px;
}
}
.navbar {
    grid-area: navbar;
    background-image: linear-gradient(to right, #dfd0b1, #627e7e);
    position: sticky;
    top: 0;
    z-index: 99;
         
li {
    padding: 0 10px;  
    font-family: Arial, Helvetica, sans-serif;
}
a {
    height: 100%;
    color: black;
    text-decoration: none;
    padding: 1px;  
    font-size: 1.1em; 
}
a:hover {
    background-color: rgba(224, 244, 228, 0.757);
    border-radius: 5px;
}
.dropdown-toggle {
    color: white;
}
}
.dropdown-menu {
    background-image: linear-gradient(to right, #dfd0b1, #627e7e);
}
h2 {
    padding: 20px;
    font-size: 2em;
    text-align: center;
    font-family: monospace;
}



/* ESTILOS INICIO */

.contenedor-iconos {
    grid-area: seccion4;
    width: 100%;
    background-color: none;
    padding: 5px;
    display: flex;
    justify-content: center;
div {
    width: 250px;
    height: 280px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: all 300ms;
}
}
.content-icon:hover {
    box-shadow: 0px 10px 40px -5px black;
    background-color: rgba(255, 255, 255, 0.279);
}
.content-icon i {
    font-size: 160px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 40px -15px black;
}
.boton {
    margin-top: 30px;
    background: none;
    width: 70%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 102, 0);
    font-weight: bold;
    font-size: 1.3em;
    
}

/* ESTILOS NOSOTROS */

/* ESTILOS CONTACTOS */

/* ESTILO SERVICIOS */

/* ESTILO SERVICIOS */

/* ESTILO REGI */


@import "partials/queries";