/* MEDIA QUERIES */

@media screen and (max-width: 600px) {

    .contenedor-iconos {
        flex-direction: column;
        align-items: center;
    }
    .informacion {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 600px) {

    .contenedor-iconos {
        display: flex;
        flex-wrap: wrap;
    }
    .informacion {
        justify-content: center;
        align-items: center;
    }
}